.is-18 {
  font-size: 18px;
}
.is-24 {
  font-size: 24px;
}
.is-36 {
  font-size: 36px;
}
.is-48 {
  font-size: 48px;
}

.is-light {
  color: rgba(255, 255, 255, 1);
}

.is-active {
  color: $main-red-colour;
}
