.no-data {
  color: white;

  &-text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  &-form {
    display: flex;
    justify-content: center;
    & button {
      padding: 1rem;
    }
  }
}

@media (min-width: $mobile) {
  .no-data {
    display: grid;
    grid-template-columns: repeat(2, minmax(10em, 35em));
    grid-template-rows: auto;

    &-text {
      grid-column: 1;
      grid-row: 1;
    }

    &-img {
      grid-column: 2;
      grid-row: 1;
    }

    &-form {
      grid-column: 1 / 3;
      grid-row: 2;
    }
  }
}
