.footer-content {
  color: white;
  width: min(100%, 64rem);
  padding: 1em;
  margin-inline: auto;
}

.footer-text {
  text-align: center;
  color: gray;
  padding-bottom: 2rem;
}

.contact {
  & form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .form-input {
    padding: 1rem;
    border-radius: 0.5rem;
  }

  .form-text {
    padding: 1rem;
    border-radius: 0.5rem;
    resize: none;
  }

  .form-btn {
    width: minmax(11rem, 20rem);
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    column-gap: 1rem;

    &:hover {
      color: $gray-colour;
    }

    & {
      transition: color 0.4s;
    }
  }
}
